
body {
  background: $bodyBackground;
}

.hidden-fade {
  opacity: 0;
}

#header_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $coverHeight;
  background-size: cover;
}


#wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: $coverHeight;
}

#tiles {
  line-height: 0;
}

#wrapper.splash {
  top: 100vh;
}

#content {
  position: relative;
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: lighten($textColor, 20%);
}

.fa {
  color: $iconColor;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover {
    text-decoration: none;
}

.tooltip:hover:after {
    background: rgba(0,0,0,.8);
    content: attr(title);
    display: block;
    padding: .3em 1em;
    position: absolute;
    left: 0px;
    top: -2em;
    text-shadow: 0 1px 0 #000;
    white-space: pre;
    z-index: 99;
    color: #eee;
}



