nav.menu {
  color: $menuTextColor;
  overflow: hidden;
  font-size: 18px;
  background-color: $baseMenuColor;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-variant: small-caps;
  width: 100%;
}

nav.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.menu li a {
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 2px;
    color: $menuTextColor;
    display: inline-block;
    height: 3em;
    width: 100%;
    padding: 1em 0.5em;
}

nav.menu li:hover, nav.menu li:focus, nav.menu a:focus {
  background-color: lighten($baseMenuColor, 20%);
}

#mobile_nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  z-index: 20;
}


li.side-pull {
  position: absolute;
  right:0;
  top:0;
}

li.home {
  width: 3em;
}

.icon {
  stroke: $bodyBackground;
  fill: $iconColor;
  position: absolute;
  top: 0;
  left: 0;
  height: 2em;
  width: 2em;
  padding: 0.5em;
}

li#home {
  display: none;
}

.menu-label {
  padding-left: 1em;
}

@media only screen and (min-width: 768px) {
   li.side-link {
      float: right;
    }

    #mobile_nav {
      display: none;
    }

    #navbar {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 20;
      height: 3em;
    }

    nav.menu li {
      display: inline-block;
      text-align: center;
      vertical-align: top;
    }

    .menu-label {
      padding-left: 0.5em;
    }

    li#home {
      display: inline-block;
    }

}
