nav.menu {
  color: $menuTextColor;
  overflow: hidden;
  background-color: $baseMenuColor;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}

nav.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.menu li a {
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    color: $menuTextColor;
    width: 100%;
    padding: 1em 0.5em;
    //font-variant: small-caps;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

nav.menu a:hover, li.hover, nav.menu li:focus, nav.menu a:focus {
  color: darken($menuTextColor, 10%);
}

.icon:hover {
  stroke: darken($iconColor, 10%);
  fill: darken($iconColor, 10%);
}

#mobile_nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  z-index: 20;
}


li.side-pull {
  position: absolute;
  right:0;
  top:0;
}

li.home {
  width: 3em;
}

.icon {
  stroke: $iconColor;
  fill: $iconColor;
  position: absolute;
  top: 0;
  left: 0;
  height: 8em;
  width: 8em;
  padding: 0.5em;
}

li#home {
  display: none;
}

.menu-label {
  padding-left: 1em;
}

@media only screen and (min-width: 768px) {
   li#home {
      float: left;
      display: inline-block;
    }

    #mobile_nav {
      display: none;
    }

    #navbar {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 20;
      height: 10em;
      background: -webkit-linear-gradient($baseMenuColor, $transparent);
      background: -o-linear-gradient($baseMenuColor, $transparent);
      background: -moz-linear-gradient($baseMenuColor, $transparent);
      background: linear-gradient($baseMenuColor, $transparent);
    }

    nav.menu li a {
      height: 10em;
      line-height: 7em;
    }

    nav.menu li {
      display: inline-block;
      text-align: center;
      vertical-align: top;
      float: right;
    }

    .menu-label {
      padding-left: 0.5em;
    }

}
