#signup {
  //font-size: 3em;
  @include heading;
  margin: auto;
  margin-bottom: .5em;
  margin-top:.5em;
  padding-bottom: .5em;
}
.signup_field {
  display: block;
  margin: auto;
  padding: 1em;
}

#signup:hover {
  background-color: rgba($yaleBlue, .7);
}
