.card {
  display: inline-block;
  background-size: cover;
  position: relative;
}

.event_card {
  width: 25%;
  height: 16em;
 }

 .photo_card {
   width: 25%;
   height: 20em;
 }

.event_card a {
  padding: .5em;
}

.card a {
  line-height: 1.3em;
  height: 100%;
  width: 100%;
  padding: 0;
}

.tiles {
  line-height: 0;
}

.card.climber_card {
  height: 15em;
  width: 12.5%;
}

.card_heading {
  line-height: 1.3em;
  color: black;
}

.card.post_card {
  width: 580px;
  margin: auto;
  display: block;
  overflow: hidden;
  //background-color: darken($bodyBackground, 10%);
  @include animate(.3s);
}

.card.post_card:hover {
//  lighten($bodyBackground, 10%);
text-decoration: underline
}

.heading {
  font-size: 2.5em;
  overflow: hidden;
  font-family: 'bebas_neueregular'
}

.heading h2 {
}

.card_content {
  box-sizing: border-box;
  text-align: right;
  //color: rgba(0,0,0,0.7);
}

.text_wrapper {
  display: inline-block;
  margin: auto;
  text-align: left;
}

.text_wrapper p {
  margin: 0;
}

.heading_container.climber_card {
  height: 100%;
  width: 100%;
  opacity: 0;
  @include animate(.3s);
}

.heading_container.climber_card:hover {
  opacity: 1;
}
