$green: rgba(61,255,0,.6);

#flashes {
  position: fixed;
  bottom: 1em;
  left: 1em;
  background-color: $green;
  border: solid 1px darken($green, 10%);
  border-radius: 0.1em;
  padding: 1em;
  margin: 1em;
  color: $textColor;

}
