.control-label {
  display: inline-block;
  text-align: right;
  width: 10em;
  font-weight: 600;
  font-size: .8em;
}

span.error {
  color: #e44444;
  padding: 1em;
}

span.hint {
  font-size: .8em;
  margin-left: 1em;
}

input[type=submit] {
  margin-left: 7em;
}

input[type=submit], .btn {
  display: inline-block;
  background-color: $linkColor;
  color: $menuTextColor;
  margin-top: 1em;
  padding: 0.5em 1em;
  border: 0;
  font-variant: small-caps;
  border-radius: 0.3em;
  @include animate(.3s);
}

input[type=submit]:hover, .btn:hover{
  background-color: $yaleBlue;
}

.btn {
  margin-left: 1em;
}
