input, textarea {
  @include animate(.3s);
  border: 0;
  color: #222;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.1);
  padding: .5em;
  margin-left: 1em;
}

input:focus, textarea:focus {
  background-color: rgba(0,0,0,0.05);
}

form.simple_form {
  margin-left: 4em;
  width: 600px;

}

.control-label {
  display: block;
  font-weight: 600;
  font-size: .8em;
  padding: .5em;
  padding-left: 0;
}

span.error {
  color: #e44444;
  padding: 1em;
}

span.hint {
  display: block;
  font-size: .8em;
  padding: .5em 0 1em 0;
}


input[type=submit], .btn {
  display: block;
  background-color: $linkColor;
  color: $menuTextColor;
  margin-top: 1em;
  padding: 0.5em 1em;
  border: 0;
  font-variant: small-caps;
  border-radius: 0.3em;
  @include animate(.3s);
}

input[type=submit]:hover, .btn:hover{
  background-color: $yaleBlue;
}

.btn {
  margin-right: 1em;
}

