
body {
  background: $bodyBackground;
}

#wrapper {
  position: absolute;
  left: 0;
  top: $coverHeight;
  width: 100%;
}

#wrapper.splash {
  top: 100vh;
}

#wrapper.show {
  top: $largeCoverHeight;
}


#content {
  position: relative;
  width: 90%;
  margin: auto;
  text-align: center;
}

#header_container {
  font-family: 'bebas_neueregular';
  position: fixed;
  top: 0;
  color: #111;
  font-size: 6em;
  width: 100%;
  margin: auto;
  text-align: center;
}

#header_container h2,h4,h6 {
  margin: 0;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover {
    text-decoration: none;
}

.tooltip:hover:after {
    background: rgba(0,0,0,.8);
    content: attr(title);
    display: block;
    padding: .3em 1em;
    position: absolute;
    left: 0px;
    top: -2em;
    text-shadow: 0 1px 0 #000;
    white-space: pre;
    z-index: 99;
    color: #eee;
}

