
body {
  background: $bodyBackground;
}

#wrapper {
  position: relative;
  width: 100%;
}

#wrapper.splash {
  position: absolute;
  top: 100vh;
  z-index: 29;
}

#wrapper.show {
  //height: $largeCoverHeight;
}

#post_wrapper {
  text-align: left;
  width: 580px;
  margin: auto;

}

#content {
  padding-top: 2em;
  position: relative;
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: $bodyBackground;
}

#header_container {
  @include heading-sc;
  font-size: 5em;
  width: 80%;
  margin: auto;
  text-align: center;
  position: relative;
}

#header_container h2, #header_container h4, #header_container h6, #header_container h5 {
  margin: 0;
  position: relative;
  z-index: 10;
}

#header_container.bg {
  background-size: cover;
  padding-bottom: .5em;
}

#header_container.bg h2, #header_container.bg h4, #header_container.bg h6, #header_container.bg h5 {
  color: #fff;
}

.splash_title {
  position: relative;
  margin-left: 1em;
  margin-top: .5em;
  font-family: 'bebas_neueregular';
  font-size: 6em;
  width: 100%;
  color: #555;
}

.splash_title a {
  color: #888;
  @include animate(.5s);
}

.splash_title a:hover {
  text-decoration: underline;
}

.maskw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  pointer-events: none;
}

.about_wrapper {
  text-align: center;
  width: 100%;

}
.about_content {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  width: 50%;
  display: inline-block;
  margin: auto;
  box-sizing:  border-box;
  padding: 1em;
}
