
body {
  background: $bodyBackground;
}

#wrapper {
  position: absolute;
  left: 0;
  top: $coverHeight;
  width: 100%;
}

#wrapper.splash {
  top: 100vh;
  z-index: 29;
}

#wrapper.show {
  top: $largeCoverHeight;
}

#content {
  position: relative;
  width: 90%;
  margin: auto;
  text-align: center;
}

#header_container {
  font-family: 'bebas_neueregular';
  position: fixed;
  top: 0;
  color: #111;
  font-size: 6em;
  width: 100%;
  margin: auto;
  text-align: center;
}

#header_container h2,h4,h6 {
  margin: 0;
}

.splash_title {
  position: relative;
  font-family: 'bebas_neueregular';
  font-size: 6em;
  width: 100%;
  color: #eee;
}

.splash_title a {
  color: #eee;
  @include animate(.5s);
}

.splash_title a:hover {
  color: #bdf;
}

