.mobile_nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $baseMenuColor;
  width: 100%;
  height: 4em;
  z-index: 20;
}

nav.a:hover {
  color: red;
}

.nav-link {
  float: right;
  padding: 1em;
  display: inline-block;
}

.float-left {
  float: left;
  display: inline-block;
}

.icon {
  float: left;
  stroke: $bodyBackground;
  fill: $iconColor;
  width: 3em;
  height: 3em;
  display: inline-block;
  padding: 0.5em;
}

nav {
  color: $menuTextColor;
  overflow: hidden;
}

nav.menu {
  //position: fixed;
  background-color: $baseMenuColor;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-variant: small-caps;
}
nav.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav.menu li a {
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
    line-height: 2px;
    color: $menuTextColor;
    display: inline-block;
    height: 3em;
    width: 100%;
    padding: 1em 0.5em;
}
nav.menu li:hover, nav.menu li:focus, nav.menu a:focus {
  background-color: lighten($baseMenuColor, 20%);
}

li#home {
  display: none;
}

.menu-label {
  padding-left: 1em;
}

@media only screen and (min-width: 768px) {

    .mobile_nav {
      display: none;
    }

    nav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
    }

    nav.menu li {
      display: inline-block;
      text-align: center;
      vertical-align: top;
    }

    .menu-label {
      padding-left: 0.5em;
    }

    .user_profile {
      float: right;
    }

    li#to_top {
      display: none;
    }


}
