$borderColor: $bodyBackground;
$borderWidth: 10px;

.card_container {
  position: relative;
  height: 300px;
  background-color: #555;
  background-size: cover;
  background-repeat: no-repeat;
  border: $borderColor solid $borderWidth;
  box-sizing: border-box;
}

.post_card.heading {
  position: absolute;
  top: 10px;
  left: 10px;
  color: $textColor;
};

.card-left {
  border-left: 0px;
  border-right: 0px;
}

.card-right {
  border-right: 0px;
}

.card-whole {
  border-left: 0px;
  border-right: 0px;
}




