body {
    background-color: $bodyBackground;
}

#wrapper {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

nav {
  color: $menuTextColor;
}

nav.menu {
  //position: fixed;
  background-color: $baseMenuColor;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-variant: small-caps;
}
nav.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav.menu li {
    padding: 1em;
    height: 3em;
}
nav.menu a {
    font-size: 18px;
    text-decoration: none;
    color: $menuTextColor;
}
nav.menu li:hover {
  background-color: lighten($baseMenuColor, 20%);
}

.menu-label {
  padding: 1em;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover {
    text-decoration: none;
}

.tooltip:hover:after {
    background: rgba(0,0,0,.8);
    border-radius: .5em;
    content: attr(title);
    display: block;
    padding: .3em 1em;
    position: absolute;
    left: 120px;
    top: 12px;
    text-shadow: 0 1px 0 #000;
    white-space: pre;
    z-index: 99;
}
