
body {
  color: $textColor;
}
p.heading {
  font-size: 24px;
  margin-bottom: 0px;
  color: $headingColor;
}

p.subheading {
  font-size: 14px;
  color: darken($headingColor, 50%);
  margin-top: 4px;
}
