$baseMenuColor: rgba(0,0,0,0.9);
$solidMenuColor: #444;
$transparent: rgba(0,0,0,0.01);
$textColor: #333;
$menuTextColor: #fff;
$bodyBackground: #f8f8f8;
$headingColor: #222;
$iconColor: $menuTextColor;

$coverHeight: 10em;
$largeCoverHeight: 18em;
