#toolbar {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-left: 8em;
}

#toolbar ul {
  padding: 0px;
}

#toolbar li {
  display: inline-block;
  width: 2em;
  text-align: center;
  padding: 0.25em;
  background-color: $baseMenuColor;
  cursor: pointer;
}

#toolbar li:hover {
  background-color: darken($baseMenuColor, 15%);
}

.markdown_text_area {
  width: 50%;
  height: 16em;

}
